NODE_ENV=development
PORT=4000
JWT_SECRET=changez-moi-en-production-tres-long-secret
JWT_EXPIRES_IN=7d
ADMIN_SETUP_TOKEN=changez-moi-jeton-tres-long-secret-admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=anamboatra
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
UPLOAD_DIR=uploads
PUBLIC_BASE_URL=http://localhost:4000
